.App {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1705077296278-d82dd5c8662f");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.home {
  margin-top: 60px;
  width: 70%;
  max-width: 900px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
