.App{
 height: 100vh;
 width: 100vw;
 background-image: url('https://images.unsplash.com/photo-1705077296278-d82dd5c8662f?q=80&w=1109&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
};

.navbar{
  display: flex;
  align-items: center;
  flex-direction:column;
  margin-left: 200px;
}

.reff{
  height:70%;
  width:70%;
  display: flex;
  align-items: center;
  flex-direction:column;
  gap: 20px;
  margin-top:50px;
  margin-left: 260px;
  background-color: #ebe6e6;
  opacity:0.5;
  position: absolute;
  
}

.home{
  height:70%;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  gap: 20px;
  margin-top:150px;
  margin-left: 100px;
  color:rgb(245, 2, 2);
}
  
  